<header class="header">
  <div class="row">
    <div class="col-sm-9">
      <h2>PB Contingency Tracker</h2>
    </div>
    <div class="col-sm-3">
      <div class="row">
        <button class="btn btn-success" (click)="checkAuthState()">Check auth status</button>
        <a *ngIf="authenticated" class="text-md-center" (click)="signOut.emit()" [routerLink]="['/']">Sign Out</a>
      </div>
      <div *ngIf="showAuthState">
        <p>Authenticated: {{authenticated}}</p>
        <p>User Id: {{id}}</p>
      </div>
    </div>

  </div>

</header>